h1, h2,h3,h4,h5,h6{
  color: #333;
}
li{
  padding-bottom: 0.3em;
}
a{
  color: #333;
  font-weight: bold;
  text-decoration: none;
}
a:hover{
  color: #333;
  font-weight: bold;
  text-decoration: underline;
}


 .footer{
   float: left;
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   
 }
 .copyright{
   font-size: 10pt;
   width: 100%;
   height: 18pt;
   background-color: #333;
   color: white;
   padding-top: 2pt;
   text-align: center;
 }
